@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Your To-Do List App</h1>
    <p>Start managing your tasks <a asp-controller="ToDoItems" asp-action="Index">here</a>.</p>
</div>